html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Sayfada istenmeyen scrollbar'ları engeller */
}

/* Tüm elementler için daha sezgisel bir kutu modeli ayarla */
*,
*::before,
*::after {
  box-sizing: border-box;
}